<h3><%= @partner.name %></h3>
<p>You have had <%= pluralize(current_user.number_of_conversations_with(@partner), 'conversation')%> with <%= @partner.name %></p>
<p>You have discussed 
  <ul>
  <% current_user.unique_topics_with(@partner).each do |topic| %> 
    <li><%= link_to topic.name, topic_path(topic) %></li>
  <% end %>
  </p>
  </ul>

<% topic = current_user.most_frequent_topic_with(@partner).name %>

<p> <%= current_user.topic_percentage_for_partner(@partner,topic) %>% of your conversations with <%= @partner.name %> involved <%= topic %> making it your most chatted about topic with this conversation partner! </p> 
  
<p>Your average conversation was rated: <%= current_user.average_rating(@partner) %> stars</p>
</br>



<%= link_to "see all of your conversation partners",  partners_path %></br></br>
<%= link_to "Back to my homepage", user_path(current_user) %>
  


