
<h4>Your Conversation with <%= link_to @conversation.partner.name, partner_path(@conversation.partner) %>
</h4>
<h5>on <%= @conversation.time.strftime("%a, %B %d, %Y") %></h5>
</br>

You chatted about 
<ul>
  <% @conversation.topics.each do |topic| %>
  <li><%= link_to topic.name, topic_path(topic) %></li>
<% end %>
</ul>

You rated it <%= @conversation.review.rating %> out of 5.</br>
<%= @conversation.review.review_message %>


<p>
<strong>Comments</strong></br></br>
<font size="3" color="blue" strong><%= flash[:notice] %></font>
  <%= form_tag conversation_path(@conversation), method:'patch' do %>
    <%= text_area_tag :review_comment, @conversation.review.comment, {size: "55x10", placeholder: "Please write comment here" }  %></br>
</p>
    <%= submit_tag "Save your comment" %>
    

  <% end %></br>

<%= link_to 'Edit', edit_conversation_path(@conversation) %></br>
<%= link_to "Add a new conversation", new_conversation_path %></br>

<%= link_to 'All conversations', conversations_path %></br>
<%= link_to "Back to my my homepage", user_path(current_user) %>
