<h2>Your Ratings for <%= @topic.name %></h2>



<%= current_user.name %>,
<p>You have had <span><%= pluralize(current_user.topic_count(@topic), "conversation") %></span> about <span><%= @topic.name %></span></p>


<p>In <span><%= current_user.topic_count_for(@topic).round(2) %> %</span> of your conversations, you talked about <span><%= @topic.name %></span>.</p>

<p>on average a conversation where you talked about <span><%= @topic.name %></span> was rated: 

  <span><%= current_user.average_rating_for_topic(@topic)%> stars</span></p> 



<p>You talked about <span><%= @topic.name %></span> with: </p>
<ul>
  <% current_user.all_partners_with(@topic).each do |partner| %>
    <li>
    <%= link_to partner.name, partner_path(partner) %>
    </li>
  <% end %>
</ul>




<p>Conversations that included <span><%= @topic.name %></span> </p>

<ul>
<% current_user.all_conversations_about(@topic).each do |convo| %>
<li> <%= link_to "#{convo.time.strftime("%a, %B %d, %Y")} with #{convo.partner.name}", conversation_path(convo) %> </li>
<% end %> 
</ul>
</br>


<h2>Our Overall Stats for <%= @topic.name %> </h2>
<p><span><%= @topic.name %></span> was rated <span><%= pluralize(@topic.average_rating, "star") %></span>  on average by our users</br>
 and it appeared in <span><%= @topic.percentage %>%</span> of total conversations.</p>

<%= link_to "All Topics",  topics_path %></br></br>

<%= link_to "Back to my my homepage", user_path(current_user) %>