<h3><%= @topic.name %><h3>
<p>You have had <%= pluralize(current_user.topic_count(@topic), "conversation") %> about <%= @topic.name %>.</p>

<p>In <%= current_user.topic_count_for(@topic).round(2) %> percent of your conversations, you talked about <%= @topic.name %>.</p>

<p>on average a conversation where you talked about <%= @topic.name %> was rated:
  <%= current_user.test(@topic)%> </p> 

<p>This topic is particularly highly rated for these partners: WRITE METHOD</p>

<p>INSERT list of all partners you talked about <%= @topic.name %> with,  with links</p>

<%= link_to "all topics",  topics_path %>


add / commit / push
then do a pull request