<%= notice %>

<br>

Hi <%= current_user.name %>! </br></br>
Your Awkwardness level: <%= current_user.awkwardness %></br></br>

<%= link_to "Create a conversation", new_conversation_path  %> </br>
<%= link_to "Review your conversation", conversations_path %>  </br></br>

<h2>Your Top 5 Conversations</h2>  
<ul>
<% current_user.conversations_with_high_rating.order('time DESC').first(5).each do |conversation| %>
  <li> <%= link_to "#{conversation.time.strftime("%a, %B %d, %Y")} | #{conversation.partner.name} | #{conversation.topics.pluck(:name).join} | #{conversation.review.rating}"  %>
  </li>
<% end %> 
</ul>

<h2>Topic</h2>
<% high_topic = current_user.highest_rated_topic %>
<% low_topic = current_user.lowest_rated_topic%>
<p> Your Favorite Topic over all: <%= link_to high_topic.name, topic_path(high_topic) %> </p> 
<p> Your Least Favorite Topic: <%= link_to low_topic.name, topic_path(low_topic) %> </p>
<% topic = current_user.highest_rated_topic %>
<h2> Your High_Rated Topic: <%= link_to topic.name, topic_path(topic) %> </h2> 
<h2> Your least favorite topic: <%= current_user.lowest_rated_topic.name %> </h2>
<% fav= current_user.partner_highest_rating %> 
<h2><%= link_to fav.name, partner_path(fav) %> has highest rating on the conversation review</h2>
<p>

<%= link_to "See All Topics",  topics_path %></br>
<%= link_to 'See All conversations', conversations_path %></br>
<%= link_to "see all of your conversation partners",  partners_path %></br></br>



