<%= notice %>

<br>

Hi <%= current_user.name %>! </br></br>
Your Awkwardness level: <%= current_user.awkwardness %> </br>

<%= link_to "Create a conversation", new_conversation_path  %> </br></br>
<%= link_to "Review your conversation", conversations_path %>  </br></br>

<h2>Your Top 5 Conversations</h2>  
<ul>
<% current_user.conversations_with_high_rating.order('time DESC').first(5).each do |conversation| %>
  <li> <%= link_to "#{conversation.time.strftime("%a, %B %d, %Y")} | #{conversation.partner.name} | #{conversation.topics.pluck(:name).join} | #{conversation.review.rating}"  %>
  </li>
<% end %> 
</ul>
<h2>Topic</h2>
<% high_topic = current_user.highest_rated_topic %>
<% low_topic = current_user.lowest_rated_topic%>
<p> Your Favorite Topic over all: <%= link_to high_topic.name, topic_path(high_topic) %> </p> 
<p> Your Least Favorite Topic: <%= link_to low_topic.name, topic_path(low_topic) %> </p>
 

<h2>Partner</h2>

<% fav= current_user.partner_highest_rating %> 
<p><%= link_to fav.name, partner_path(fav) %> has highest rating on the conversation review</p>
<p>




